<?xml version="1.0" encoding="utf-8"?>
<!--
     Copyright (C) 2012 Adam Nybäck

     Licensed under the Apache License, Version 2.0 (the "License");
     you may not use this file except in compliance with the License.
     You may obtain a copy of the License at

          http://www.apache.org/licenses/LICENSE-2.0

     Unless required by applicable law or agreed to in writing, software
     distributed under the License is distributed on an "AS IS" BASIS,
     WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
     See the License for the specific language governing permissions and
     limitations under the License.
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="se.anyro.nfc_reader"
  android:versionCode="13"
  android:versionName="0.13"
  android:installLocation="auto">

    <uses-sdk android:minSdkVersion="15" android:targetSdkVersion="21" />

    <uses-permission android:name="android.permission.NFC" />
    <uses-feature android:name="android.hardware.nfc" />
    <uses-permission android:name="android.permission.INTERNET" /> 
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCOUNT_MANAGER"/>
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS"/>
    

    <application
      android:icon="@drawable/cubeicon"
      android:label="@string/app_name"
        android:theme="@style/AppTheme">
    
    	<activity
          android:name="MainScreen"
          android:label="@string/app_name"
          android:screenOrientation="portrait"
          android:alwaysRetainTaskState="true"
          android:launchMode="singleInstance">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.nfc.action.TAG_DISCOVERED"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        
        <activity android:name=".AuthenticatedScreen" 
        	  	  android:label="@string/scan_results_text"
        	  	  android:screenOrientation="portrait" />  
    	
    	<activity android:name=".NotAuthenticatedScreen"
    			  android:label="@string/scan_results_text"
    			  android:screenOrientation="portrait" />
    	
    	<activity android:name=".ProductInformation"
    		      android:label="@string/product_information_button"
    		      android:screenOrientation="portrait" />
    	
    	  
    </application>
    
</manifest> 
